/* main container for all components */
.App {
  padding: 0;
  width: 100%; 
  height: 100%;
  margin: 0;
}
/* h1 margin 0 */
h1, h4{
  margin: 0;
  padding: 0;
}
/* the background of the 
session to login or register */
.auth-session{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: rgb(164,185,183);
  background: linear-gradient(to bottom left, rgba(164,185,183,1) 0%, rgba(177,189,188,1) 49%, rgba(237,249,248,1) 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/* error message */
.danger{
  margin: 10px 0;
}
/* no message */
.hide{
  display: none;
  width: 0;
  height: 0;
}
/* box where all input fields are */
.auth-session .auth-container{
  width: 30%;
  border: 5px solid rgba(255, 255, 255, .4);
  box-shadow: 0 30px 40px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-property: width padding-bottom;
  transition-duration: .2s;
  padding-bottom: 20px;
  /* background: rgb(86,130,126);
  background: linear-gradient(90deg, rgba(86,130,126,1) 0%, rgba(100,153,148,1) 48%, rgba(153,200,196,1) 100%); */
}

.auth-session .auth-container-reg{
  width: 80%;
  padding-bottom: 5px !important;
}
/* modify register from the login */
.auth-session .auth-container-reg:hover{
  width: 81% !important;
  padding-bottom: 10px !important;
}

.auth-container-reg .flex-container,
.auth-container-reg .flex-container form{
  display: flex !important;
  flex-wrap: nowrap !important;
  justify-content: center !important;
  align-items: flex-end !important;
  height: 100% !important;
  width: 100% !important;
}
.auth-container-reg .flex-container .item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 49%;
  height: 100%;
}
/* title of the auth box */
.auth-session .auth-container .auth-title{
  background-color: #8ad6cf;
  border-radius: 5px;
  outline: none;
  padding: 16px 46px;
  position: relative;
  top: -20px;
  border: 5px solid rgba(255, 255, 255, .4);
}
/* affect of side on :hover
for the box of all fields */
.auth-session .auth-container:hover{
  width: 31%;
  padding-bottom: 30px;
}

/* make sure the img tag fills
the box it is in */
.auth-session .auth-container .auth-icon img,
.auth-container .auth-form .auth-field-icon img{
  width: 100%;
  height: 100%;
}
/* box of the main icon */
.auth-session .auth-container .auth-icon{
  width: 30%;
  height: 30%;
}
/* box where both the icon 
and input filed are */
.auth-container .auth-form .auth-field{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 80%;
  min-height: 60px;
  padding: 5px;
  background-color: #F5F5F5;
  border-radius: 5px;
}
/* box of the field icon */
.auth-container .auth-form .auth-field .auth-field-icon{
  width: 30%;
  height: 100%;
  padding: 3px;
  /* padding-right: 6px; */
  border-right: 1px solid rgba(5, 5, 5, .5)
}
/* form container */
.auth-container .auth-form{
  margin: 10px 0;
}
/* form container */
.auth-container .auth-form,
.auth-container .auth-form form{
  width: 100%;
  height: 80%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/* box of the icon for the input fields */
.auth-container .auth-form .auth-field .auth-field-icon{
  width: 30px;
  height: 30px;
  margin-right: 3px;
}
/* box for input field and input*/
.auth-container .auth-form .auth-field .auth-field-input{
  height: 100%;
  border: none;
  border-radius: 5px;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

/* fill the space left with the input field 
and remove border and highlights */
.auth-container .auth-form .auth-field .auth-field-input input, 
.auth-container .auth-form .auth-field .auth-field-input input:focus,
.auth-container .auth-form .auth-field .auth-field-input select, 
.auth-container .auth-form .auth-field .auth-field-input select:focus{
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 120%;
  font-weight: 0%;
  background-color: #F5F5F5;
  color: rgba(5, 5, 5, .7)
}
/* set the container for the button 
same as the input field box */
.auth-container .auth-form .auth-submit{
  width: 82%;
  height: 45px;
  border: none;
  border-radius: 5px;
}
/* adding space in between the box filds and button */
.auth-container .auth-form .auth-field,
.auth-container .auth-form .auth-submit{
  margin: 5px 0;
}

/* style the button within its box */
.auth-container .auth-form .auth-submit .button{
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 120%;
  font-weight: bolder;
  background-color: #8ad6cf;
}
/* remove highlight on focus */
.auth-container .auth-form .auth-submit .button:focus{
  border: none;
  outline: none;
}


/* Loading button */
.LoaderButton .spinning.glyphicon {
  margin-right: 7px;
  top: 2px;
  animation: spin 1s infinite linear;
}
@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}
/* end of Loading button */