.profile-container,
.profile-container .profile-information{
  width: 100%;
  height: 100%;
  transition-property: opacity;
  transition-duration: 1s;
}
.mebox-container{
  padding-bottom: 45px;
}
.main-side-menu{
  width: 100%;
  /* height: 100%; */
}


.mebox-title h1,
.desc-mebox .desc-title h4,
.general-mebox .title-genaral,
.field-general .label-input-general label,
.names-mebox h4{
  color: rgb(17, 103, 131);
}



/* Mebox in profile */
.mebox-container,
.mebox-container .main-mebox{
  width: 100%;
  height: 100%;
}
.mebox-container .mebox-title{
  padding: 20px;
  width: 300px;
}
.mebox-container .main-mebox{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.mebox-container .main-mebox .just-mebox{
  width: 30%;
  height: 80%;
  /* margin: auto 0; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 15px 0;
  box-shadow: 0 5px 20px 5px rgba(5, 5, 5, .2);
  border-radius: 10px;
}

.main-mebox .just-mebox .img-mebox{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: green;
}

.main-mebox .just-mebox .names-mebox{
  width: 60%;
  height: 100%;
  /* border: 1px dashed blueviolet; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}

.main-mebox .just-mebox .names-mebox .social-mebox{
  border: 3px solid lightblue;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  text-decoration: none;
  color: #0077B5;
  margin: 10px 0;
  /* font-weight: lighter; */
}

.main-mebox .just-mebox .names-mebox .social-mebox:hover{
  background-color: #0077B5;
  color: white;
  font-weight: bold;
}

.main-mebox .just-mebox .names-mebox .social-mebox img{
  background-image: url('../images/linkedIn.png');
  height: 30px;
  width: 30px;
  /* background-color: red; */
}
.main-mebox .just-mebox .img-change-mebox{
  all: none;
  border: 2px solid rgba(171, 215, 230, .5);
  outline: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.main-mebox .just-mebox .img-mebox img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.main-mebox .just-mebox .desc-mebox{
  padding: 15px;
  text-align: center;
  /* margin: 10px 0 0 0; */
  margin-top: 10px;
  border-top: 1px solid rgba(5, 5, 5, .2);
}

.main-mebox .just-mebox .desc-mebox .desc-title{
  padding: 5px;
}
/* End Mebox in profile */

/* General in profile */
.mebox-container .main-mebox .general-mebox{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* come back to this padding, it might be too much */
  padding: 5px 0;
  box-shadow: 0 5px 20px 5px rgba(5, 5, 5, .2);
  border-radius: 10px;
  /* margin: -50px; */
}

.mebox-container .main-mebox .general-mebox h1{
  padding: 20px;
}

.mebox-container .main-mebox .general-mebox .form-general{
  width: 100%;
  border-top: 1px solid rgba(5, 5, 5, .2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
}

.main-mebox .general-mebox .form-general form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main-mebox .general-mebox .form-general form .field-general{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.general-mebox .form-general form .field-general .label-input-general{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 3;
  padding: 10px;
}

.form-general form .field-general .label-input-general .input-box-general{
  width: 100%;
  height: 45px;
  border: 2px solid rgba(200, 200, 200, .4);
  transition-property: border;
  transition-duration: .5s;
}

.form-general form .field-general .label-input-general .input-box-general:hover,
.form-general form .field-general .label-input-general .text-box-general:hover{
  border: 2px solid rgb(17, 103, 131);
}

.field-general .label-input-general .input-box-general input,
.field-general .label-input-general .input-box-general select{
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  padding-left: 5px;
  background-color: white;
}

.form-general form .field-general .label-input-general .text-box-general{
  width: 100%;
  height: 65px;
  border: 2px solid rgba(200, 200, 200, .4);
  transition-property: border;
  transition-duration: .5s;
}
.field-general .label-input-general .text-box-general textarea{
  outline: none;
  border: none;
  width: 100%;
  height: 99%;
  padding-left: 5px;
}

/* End General in profile */

/* Horizontal Menu */

.main-side-menu .horizon-menu{
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition-property: opacity;
  transition-duration: 1s;
  /* background-color: lightblue; */
  background-image: linear-gradient(rgb(78, 211, 255), rgb(147, 223, 249));
}
.main-side-menu .horizon-menu .icon-logo{
  display: flex;
  flex-grow: 3;
  justify-content: flex-start;
  align-items: center;
  /* background-color: rebeccapurple; */
}

.main-side-menu .horizon-menu .icon-logo .menu-icon,
.main-side-menu .horizon-menu .icon-logo .logo{
  padding: 10px;
  margin: 0 20px;
}
.main-side-menu .horizon-menu .icon-logo .menu-icon{
  font-size: 180%;
  font-weight: bold;
  cursor: pointer;
  transition-property: color;
  transition-duration: .5s;
}
.main-side-menu .horizon-menu .icon-logo .menu-icon:hover,
.main-side-menu .horizon-menu .icon-logo .logo:hover{
  color: white;
}
.main-side-menu .horizon-menu .icon-logo .logo{
  margin: 0;
  cursor: pointer;
  transition-property: color;
  transition-duration: .5s;
}

.main-side-menu .horizon-menu .log-out{
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  /* background-color: yellow; */
}
.main-side-menu .horizon-menu .log-out a{
  padding: 20px;
  margin: 0 15px;
  font-size: 140%;
  font-weight: bolder;
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition-property: background-color color;
  transition-duration: .5s;
  transition-delay: .1s;
}

.main-side-menu .horizon-menu .log-out a:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(147, 223, 249);
  transition-property: background-color color;
  transition-duration: .5s;
}

.form-general .btn-general{
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.form-general .btn-general .button{
  width: 35% !important;
  height: 100% !important;
  padding: 10px;
  font-size: 110%;
  font-weight: bold;
  border: 2px solid white;
  background-color: rgb(17, 103, 131);
  color: white;
  transition-property: background-color color border;
  transition-duration: .5s;
} 

.form-general .btn-general .button:hover{
  background-color: white;
  color: rgb(17, 103, 131);
  border: 2px solid rgb(17, 103, 131);
} 
/* End of Horizontal Menu */

/* Strictly for side menu */
.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(10, 10, 10, 1);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .side-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 1s;
  }
  .side-menu .menu-option {
    padding: 2px 2px 2px 8px;
    text-decoration: none;
    font-size: 5px;
    color: #818181;
    opacity: .4;
    display: none;
    transition: 1s;
  }

  .side-menu .option:hover {
    background-color: blueviolet;
  }

  .side-menu a:hover {
    color: #f1f1f1;
  }
  
  .side-menu .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .side-menu {padding-top: 15px;}
    .side-menu a {font-size: 18px;}
  }
/* End of Strictly for side menu*/